<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <style>
            body{
               background-color:#77fdf66c;
               margin-top:0px;
               margin-left:0px;
            }
    </style>
    <br>
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRReLU3GVwCs4x5yxlVdHFu12M6lsOMRlJXaw&usqp=CAU"> 
   
    <br>
    <br>
    <Span style="color: rgb(201, 79, 31);"><h1>{{result}}</h1></Span>
</center>
</body>
</html>